<%
  if @category
    name = "#{@category.name} "
  end
  if @tag
    name = "#{@tag.to_s.titleize} "
  end
  
  description = "Watch the best #{name}videos about code and programming."

  meta title: "#{name} Videos",
    description: description,
    keywords: ["videos", "code", "programming", name],
    og: {
      url: request.original_url,
      title: "#{name} Videos",
      description: description,
    }
%>
<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">
      <%= name %>Videos
    </h2>
    <div class="options-bar">
      <select class="col-sm-2 col-md-2 sort" data-url="<%= request.original_url.split('?').first %>">
        <option value="">Sort By </option>
        <option value="date" <%= 'selected="selected"' if params[:sort] == "date" %>>Date</option>
        <option value="popular" <%= 'selected="selected"' if params[:sort] == "popular" %>>Popular</option>
      </select>
      <div class="videos-found col-md-2 col-md-offset-8 col-sd-2 col-sd-offset-8">
        <strong><%= @total %></strong> Videos Found
      </div>
      <span class="clearfix"><!-- --></span>
    </div>
    <%= render 'videos/gallery', videos: @videos  %>
    <%= paginate @videos %>
  </div>
</div>