<%
  if @category
    name = "#{@category.name} "
  end
  if @tag
    name = "#{@tag.to_s.titleize} "
  end
  
  description = "Watch the best #{name}videos about code and programming."

  meta title: "#{name} Videos",
    description: description,
    keywords: ["videos", "code", "programming", name],
    og: {
      url: request.original_url,
      title: "#{name} Videos",
      description: description,
    }
%>
<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">
      <%= name %>Videos
    </h2>
    <div class="options-bar">
      <select class="col-sm-2 col-md-2 sort" data-url="<%= request.original_url.split('?').first %>">
        <option value="">Sort By </option>
        <option value="date" <%= 'selected="selected"' if params[:sort] == "date" %>>Date</option>
        <option value="popular" <%= 'selected="selected"' if params[:sort] == "popular" %>>Popular</option>
      </select>
      <div class="videos-found col-md-2 col-md-offset-8 col-sd-2 col-sd-offset-8">
        <strong><%= @total %></strong> Videos Found
      </div>
      <span class="clearfix"><!-- --></span>
    </div>
    <ul class="row list-inline glr-list">
      <% @videos.each do |video| %>
      <li class="col-sm-4 col-md-3">
        <span class="glr-thumbnail">
        <%= link_to(video_show_path(video.category, video)) do %>
          <%= image_tag video.image.url(:thumb) %>
        <% end %>
        <div class="tags tags-relative">
          <%= render partial: 'elements/tag', collection: video.tag_list, as: :tag %>
        </div>
        </span>
        <%= link_to(video_show_path(video.category, video)) do %>
        <span class="glr-title" style="margin-top: -20px;"><%= video.title %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
    <%= paginate @videos %>
  </div>
</div>