<%
  if @category
    name = "#{@category.name} "
  end
  if @tag
    name = "#{@tag.name} "
  end
  
  description = "Watch the best #{name}videos about code and programming."

  meta title: "#{name} Videos",
     description: description,
     keywords: ["videos", "code", "programming", name],
     og: {
      url: request.original_url,
      title: "#{name} Videos",
      description: description,
     }
%>
<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">
      <%= name %>Videos
    </h2>
    <div class="options-bar">
      <select class="span2 pull-left"><option>Sort By </option>
        <option>Date</option>
        <option>Popular</option>
        <option>Highest Rating</option>
        <option>Lowest Rating</option>
      </select>
      <span><strong><%= @total %></strong> Videos Found</span>
    </div>
    <ul class="row list-inline glr-list">
      <% @videos.each do |video| %>
      <li class="col-sm-4 col-md-3">
        <span class="glr-thumbnail">
        <%= link_to(video) do %>
          <%= image_tag video.image.url(:thumb) %>
        <% end %>
        <div class="tags tags-relative">
          <% video.tag_list.each do |tag| %>
            <a href="#" class="background-color bg-hover-color"><%= tag %></a>
          <% end %>
        </div>
        </span>
        <%= link_to(video) do %>
        <span class="glr-title" style="margin-top: -20px;"><%= video.title %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
    <%= paginate @videos %>
  </div>
</div>